// Styling for the add recipe page
#add_recipe_form,
#update_recipe_form {
    label {
        font-weight: 700;
        font-size: 1.1rem;
        font-style: italic;
    }
    .allergens-label {
        font-weight: normal;
        font-style: normal;
        padding-right: 3px;
    }
    .add-left-col {
        border-right: none;
        padding-bottom: 50px;
    }
    .add-form-buttons {
        border-top: 2px dashed $cyan;
        padding-top: 20px;
    }
    #ingredients_input_list>input {
        margin-top: 0.3rem;
    }
    #ingredients_input_list>label,
    #instruction_input_list>label {
        display: block;
        font-weight: 700;
    }
    #ingredients_input_list .form-control,
    #instruction_input_list .form-control {
        display: inline;
        width: 75%;
    }
    .delete {
        margin-left: 3px;
    }
    #instruction_input_list textarea {
        resize: none;
    }
    .added-ingred,
    .added-instruction {
        input,
        textarea {
            margin-top: 0.3rem;
        }
    }
    #newRecipeMessages {
        font-weight: 700;
        color: $orange;
    }
    @media(min-width:768px) {
        .add-left-col {
            border-right: 2px dashed $cyan;
        }
        #ingredients_input_list .form-control,
        #instruction_input_list .form-control {
            width: 80%;
        }
    }
}