// Styling for the add recipe page
#add_recipe_form, #update_recipe_form  {
    #ingredients_input_list>input {
        margin-top: 0.3rem;
    }
    #ingredients_input_list>label {
        display: block;
    }
    #ingredients_input_list .form-control, #instruction_input_list .form-control {
        display: inline;
        width: 90%;
    }
    .delete {
        margin-left: 3px;
    }
    #instruction_input_list textarea  {
        resize: none;
    }
}

