// Global styling for this template
body {
    overflow-x: hidden;
    @include body-font;
}

a {
    color: $primary;
    cursor: pointer;
    &:hover {
        color: darken($primary, 10%);
    }
}

.text-primary {
    color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    @include heading-font;
}

section {
    padding: 30px 0;
    h2.section-heading {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.section-subheading {
        font-size: 16px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 5px;
        text-transform: none;
        @include sans-serif-font;
    }
}

@media(min-width:768px) {
    section {
        padding: 30px 0;
    }
}

// Button Styles
.btn {
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:active,
    &:focus,
    &:hover {
        background-color: darken($primary, 7.5%) !important;
        border-color: darken($primary, 7.5%) !important;
        color: white;
    }
    &:active,
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, .5) !important;
    }
}

// Highlight color customization
::-moz-selection {
    background: $primary;
    text-shadow: none;
}

::selection {
    background: $primary;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

#user-name-wrapper {
    padding: 0;
    padding-top: 77px;
    text-align: center;
    
    margin-right: auto;
    @media (min-width: 576px) {
        padding-top: 127px;
    }
}
@media(min-width:320px) {
    
    .userwelcome {
        min-width: 30%;
        position: absolute;
        width: 100%;
        z-index: 1020;
        margin: 0 auto;
        color:#fff;
        background-color:$cyanrgba;
        border: 1px solid transparent;
        border-radius: 1rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

}

@media(min-width:768px) {
    
    .userwelcome {
        min-width: 30%;
        position: absolute;
        width: 30%;
        z-index: 1020;
        margin: 0 auto;
        color:#fff;
        margin-left:60%;
        background-color:$cyanrgba;
        border: 1px solid transparent;
        border-radius: 1rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

}

.home-userwelcome {
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid transparent;
  border-radius: 1rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;    
}


//debug-panel
#panel-debug p {
    margin: 0;
}