.m-desc-hide {
    display: none;
}

@media (min-width: 576px) {
    .m-desc-hide {
        display:block;
    }
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.section-content .myrecipe-table-title {
    font-weight: 700;
    font-size: 1.2rem;
    font-style: italic;
}
.prev-span{
    width:140px;
    display: inline-block;
}
.previous {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 140px;
    padding: 5px 10px;

}

.next {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 120px;
    padding: 5px 10px;
}