// Styling for the navbar
#mainNav {
    background-color: $cream;
    border-bottom: 1px solid $paynesgrey;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); // height:auto;
    .navbar-toggler {
        font-size: 12px;
        right: 0;
        padding: 13px;
        text-transform: uppercase;
        color: $paynesgrey;
        border: 2px dashed $orange;
        background-color: transparent;
        @include sans-serif-font;
    }
    .navbarbtntog {
      margin-right: 0rem;
    }
    .navbar-brand img {
        width: 230px;
    }
    .navbar-nav {
        .nav-item {
            &:last-child {
                border-bottom: 1px solid $primary;
            }
            .nav-link {
                font-size: 100%;
                font-weight: 700;
                padding: 0.75em 0;
                color: $paynesgrey;
                text-transform: uppercase;
                border-top: 1px solid $primary;
                @include sans-serif-font;
                &.active,
                &:hover {
                    color: $orange;
                }
            }
        }
        .already {
            font-style: italic;
            font-weight: 700;
            color: $primary;
            .nav-link &:hover{
                color:$primary;
            }
        }
        .btnlink {
            line-height: 3.4rem;
        }
    }
}

@media(min-width:768px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
        .navbar-brand img {
            width: 282px;
        }
    }
}

@media(min-width:576px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
      .navbar-brand img {
          width: 286px;
      }
  }
}

@media(min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border-bottom: 1px solid $paynesgrey;
        background-color: $cream;
        .navbar-brand img {
            width: 282px;
        }
        .navbar-nav {
            .nav-item {
                &:last-child {
                    border-bottom:0;
                }
                border-top:0;
                .nav-link {
                    padding: 1.1em 1em !important;
                    border-bottom:0;
                    border-top:0;
                }
            }
            .already{
                border-bottom:0;
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: $cream;
            .navbar-brand {
                font-size: 1.25em;
                padding: 12px 0;
            }
        }
    }
}