.filter-col {
    padding-bottom: 2rem;
    padding-top: 0px;
    border-right:0px;
    h3 {
        display: inline;
    }
    img {
        vertical-align: baseline !important;
    }
    #ingredientFilter {
        margin-top: 2rem;
    }
    form {
        margin-bottom: 2rem;
    }
    #categorycuisineFilter {
        margin-bottom: 0;
    }
    #andButton {
        float: right;
    }
}

#recipeResult {
    font-weight: 700;
}
p.card-keyword {
    margin-top: 35px;
    span {
    margin: 3px 0;
    display: inline-block;
    }
}
.keyword {
    background-color: $orange;
    border-radius: 1rem;
    padding: 4px 10px;
    font-weight: 700;
}
#filterMessage {
    font-weight: 700;
    color: $orange;
    padding-top:10px;
}
#backtotopIcon {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 30px;
    border-radius: 30px;
    font-size: 18px;
    background-image: url('../img/global/backtotop.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.initialRecipes h2 {
    border-bottom: 2px dashed $cyan;
    margin-top: 1rem;
}

.initialRecipes > h2:nth-child(1){
    margin-top: -0.4rem;
}

.filter-col label {
    font-weight: 700;
}

@media(min-width:768px) {
    .filter-col {
        padding-top: 70px;
        border-right: 2px dashed $cyan;
    }
}