// Styling for the services section
.recipe-heading {
    margin: 15px 0;
    text-transform: none;
}
#recipe-title {
    margin-bottom: 2rem;
}
.btn-row {
    margin-top: 0.8rem;
    padding:0;
    padding-bottom: 0.8rem;
    text-align: center;
}
.with-border {
    border-top: 1px solid #546a7b;
    width: 90%;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.thumbs-col{
    line-height: 3.6rem;
}
.print{
    padding-right: 5px;
}
.voteup {
    font-size: 1.5rem;
}
#rateme {
    -webkit-appearance: none;
}
#rateme:hover {
    color:$orange;
}
.fa-heart {
    padding-right:5px;
}
.createdby span{
    font-weight: 700;
}
.card-btn {
    text-align: right;
}
#recipe-info {
    #recipe-description {
        display: none;
    }
    .recipe-image img {
        max-width: 100%;
        display: block;
        max-height:350px;
        text-align: center;
        margin: 0 auto;
        border-radius: 1rem;
    }
    .utilities {
        width: 100%;
        margin: 0 auto;
    }
    #editRecipeButton, .delete_recipe {
        font-size: 0.8rem;
        margin:0;
        margin-right: 1.5rem;
    }
    .recipe-details {
        margin-top: 3rem;
        .row {
            margin-bottom: 0.5rem;
        }
        .detail-title {
            font-weight: 600;
            text-align: right;
            padding-left: 0;
            font-size: 0.9rem;
        }
        .detail-value {
            padding-right: 0;
            font-size: 0.9rem;
        }
        .allergen-list {
            padding-left: 0;
            list-style-type: none;
        }
        ul.detail-item {
            padding-left: 0;
            list-style-type: none;
            padding-bottom: 0.8rem;
        }
    }
    .detail-title {
        font-weight: 600;
    }
    #ingredients, #recipe-info {
        padding-top: 1rem;
        ul {
            font-size: 0.9rem;
            list-style-type: none;
            padding-left: 0;
        }
        li {
            padding-bottom: 5px;
            padding-left: 2em;
            text-indent: -2.4em;
        }
        li img {
            padding-right:10px;
        }
    }
    #instructions {
        .instuctions-line {
            justify-content: center;
            padding-left: 0;
            padding-bottom: 20px;
        }
        div.col-12 {
            padding: 0;
        }
        .loop {
            padding-right: 15px;
            display: inline-block;
        }
        .instruct {
            display: inline-block;
        }
        li {
            padding-left: 10px;
        }
    }
    @media(min-width:768px) {
        .recipe-heading {
            margin: 15px 0;
            margin-top: 60px;
            text-transform: none;
        }
        #instructions div.col-12 {
            padding: 0 15px;
        }
        #ingredients {
            padding-top: 1rem;
        }
        #recipe-description {
            display: block;
        }
        .btn-row {
            text-align: right;
        }
        .right-col {
            padding-left: 30px;
        }
        .utilities {
            padding-top:15px;
            .print{
                padding-right: 5px;
            }
        }
    }
}

/* small device */

@media(min-width: 768px) {
    .tab-content .tab-pane {
        display: block;
    }
    #home.tab-pane {
        background-color: rgba(114, 157, 168, 0.13);
        border-radius: 1rem;
    }
    .nav {
        display: none;
    }
}

@media(max-width: 767px) {
    #home {
        display: block;
        padding-right: 0;
        padding-left: 0;
        
    }
}