// Variables
// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$primary: #546a7b !default;

$blackolive: #393d3f;
$offwhite: #fafafa;
$cream:#e8e7dd;
$palesilver: #c6c5b9;
$cyan: #62929e;
$paynesgrey: #546a7b;
$orange: #f26522;

$blackolivergba: rgba(57, 61, 63, 0.9);
$offwhitergba:rgba(253,253,253,0.9);
$palesilverrgba: rgba(198,197,185,0.9);
$cyanrgba: rgba(98, 146, 158, 0.9);
$paynesgreyrgba:rgba(84,105,123,0.9);
$orangergba:rgba(242,101,34,0.4)

