// Variables

$white: #fff !default;
$black: #000 !default;
$cyan: #62929e;
$blackolive: #393d3f;
$offwhite: #fdfdff;
$palesilver: #c6c5b9;
$paynesgrey: #546a7b;
$fadedbkg-03: rgba(0, 18, 52, 0.3);
$fadedbkg-08: rgba(0, 18, 52, 0.8);
$error-red: #cc3333;
$darkred: #ff0000;
$darkgreen: #ff0000;