body {
  @include sans-serif-font;
  background: url(/static/img/riddler-wallpaper.jpg) no-repeat fixed;
  background-size: cover;
  background-position: 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
#container-content {
  @include sans-serif-font;

}
i {
  margin-right:5px;
}

#container-nav {
  background-color: $darkgreen;
  height: 80px;

  #nav-logo {
    height: 80px;
    position: relative;
  }

  #nav-logo img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav {
    color: #fff;
    font-size: 1.4rem;
  }
  @media (min-width: 768px) {
    nav {
      line-height: 80px;
    }
    #nav-logo {
      height: 80px;
    }
    #nav-logo img {
      width: 100%;
      position: static;
      left: 0;
      top: 0;
      transform: translate(0, 0);
    }
  }
}
.red-text {
  color: $darkred;
}

.alert-container {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn-riddle,
.btn-riddle-index {
  color: $white;
  background-color: $darkgreen;
  border-color: $darkgreen;
  white-space: nowrap;
  transition: all .1s linear;
}

.btn-nav {
  color: $darkred;
  background-color: $white;
  border-color: $darkred;
}

.btn-nav:hover {
  color: $white;
  background-color: $darkgreen;
  border-color: $white;
}

.btn-riddle:hover {
  color: $white;
  background-color: $darkred;
  border-color: $darkred;
}

.btn-riddle:active, .btn-riddle-index:active {
  transform: translateY(3px);
}


#messages-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  p {
    color: $darkred;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .btn-riddle {
    width: 80%;
  }
  #helpModal .btn-riddle {
    width: 100%;
  }
  #nav-logo img {
    width: 100%;
    max-width: 450px;
  }
}

/* error pages */
#error-page {
  margin-top: 100px;
  @include text-background()
}

/* Debugging Panel */

#panel-debug {
  padding: 10px 10px;
  background-color: #ccc;
  overflow: hidden;
  div.left,
  div.right {
    background-color: #ccc;
    float: left;
    width: 50%;
  }

  h5,
  p {
    font-family: Arial, sans-serif!important;
  }
  p {
    font-size: 0.9rem;
  }
}
