
// Core variables and mixins

@import "_variables.scss";
@import "_mixins.scss";

// Global CSS
@import "_global.scss";

// Components
@import "_navbar.scss";
@import "_index.scss";
@import "_services.scss";
@import "_portfolio.scss";
@import "_timeline.scss";
@import "_team.scss";
@import "_contact.scss";
@import "_footer.scss";
