// Variables

$white: #fff !default;
$black: #000 !default;
$darkgreen: #052003;
$darkred: #b32c16;
$alertyellow: #fff3cd;
$fadedbkg-03: rgba(0, 18, 52, 0.3);
$fadedbkg-08: rgba(0, 18, 52, 0.8);
$error-red: #cc3333;
$leaderboard-row: rgba(68, 97, 74, 0.3);
$leaderboard-row-header: rgba(123, 154, 129, 1.0);