{% extends 'base.html' %}

{% block template_content %}
<!-- message displayed if user gets a 404 error -->
<section id="404errorpage">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h2 class="section-heading text-uppercase">404 Error</h2>
        <h3 class="section-subheading text-muted mb-5">We apologise for the error. The chef seems to have left the
          kitchen.</h3>
        <img src="{{ url_for('static', filename='img/global/mixer.png')}}" alt="image of a mixer" title="image of a mixer">
      </div>
    </div>
  </div>
</section>
{% endblock %}