{% extends 'base.html' %}

{% block template_content %}
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- PAGE HEADER -->
            <section id="user_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>Add Recipe</h1>
                            <h3 class="section-subheading text-muted">Add a new recipe complete teh form.</h3>
                        </div>
                    </div>
                    <!-- ADD RECIPES FORM-->
                    <form id="add_recipe_form" name="add_recipe_form" method="POST">
                        <div class="row" style="background-color:blueviolet">
                            <div class="col-md-6" style="background-color:burlywood">
                                <!-- NAME -->
                                <div class="form-group">
                                    <label for="inputName">Name</label>
                                    <input value="Something cheesy" type="input" class="form-control" id="name" name="name"
                                        placeholder="Name of recipe">
                                </div>
                                <!-- IMAGE -->
                                <div class="form-group">
                                    <label for="inputName">Add an Image</label>
                                    <input type="input" class="form-control" id="image_url" name="image_url"
                                        placeholder="Paste a link to your image">
                                </div>
                                <!-- DESCRIPTION -->
                                <div class="form-group">
                                    <label for="inputDescription">Description</label>
                                    <textarea placeholder="Description" class="form-control" id="description" name="description"
                                        rows="3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque metus id condimentum imperdiet. Donec eleifend risus metus, eu aliquam lacus gravida porttitor. Cras ultricies augue a tortor imperdiet vehicula. Donec laoreet dolor ac egestas porttitor.</textarea>
                                </div>
                                <!-- MAIN INGREDIENT -->
                                <div class="form-group">
                                    <label for="inputMain">Main Ingredient</label>
                                    <input value="Cheese" type="input" class="form-control" id="main_ingredient" name="main_ingredient"
                                        placeholder="Main Ingredient">
                                </div>
                                <div class="form-row">
                                    <!-- CATEGORY -->
                                    <div class="form-group col-md-6">
                                        <label for="selectCategory">Category</label>
                                        <select class="custom-select" id="category" name="category">
                                            <option>Select a Category</option>
                                            {% for category in categories%}
                                            <!-- <option value="{{ category.category_name }}">{{ category.category_name }}</option> -->
                                            <option selected="vegan">{{ category.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- CUISINE -->
                                    <div class="form-group col-md-6">
                                        <label for="selectCuisine">Cuisine</label>
                                        <select class="custom-select" id="cuisine" name="cuisine">
                                            <option>Select a Cuisine</option>
                                            {% for cuis in cuisine%}
                                            <!-- <option value="{{ cuis.cuisine_name }}">{{ cuis.cuisine_name }}</option> -->
                                            <option selected="thai">{{ cuis.cuisine_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- DIFFICULTY -->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="selectDifficulty">Difficulty</label>
                                        <select class="custom-select" id="difficulty" name="difficulty">
                                            <option selected>Select a Difficulty level</option>
                                            {% for diff in difficulty %}
                                            <option value="easy">{{ diff.difficulty_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- PREP TIME -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputPrep">Prep Time</label>
                                            <input value="20 minutes" type="input" class="form-control" id="prep_time"
                                                name="prep_time" placeholder="prep time">
                                        </div>
                                    </div>
                                    <!-- COOKE TIME -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputCook">Cook Time</label>
                                            <input value="1 hour" type="input" class="form-control" id="cook_time" name="cook_time"
                                                placeholder="cook time">
                                        </div>
                                    </div>
                                </div>
                                <!-- SERVES -->
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputServes">Serves</label>
                                            <input value="4" type="input" class="form-control" id="serves" name="serves"
                                                placeholder="serves">
                                        </div>
                                    </div>
                                    <!-- CALORIES -->
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="inputCalories">calories</label>
                                            <input value="350kcal" type="input" class="form-control" id="calories" name="calories"
                                                placeholder="calories">
                                        </div>
                                    </div>
                                </div>
                                <!-- ALLERGENS -->
                                <div>
                                    <label for="inputAllergens">Allergens</label>
                                </div>
                                {% for allergen in allergens %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" name="allergen" value="{{ allergen.allergen_name }}">
                                    <label class="form-check-label" for="inline{{ allergen.allergen_name }}">{{allergen.allergen_name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                            <!-- INGREDIENTS -->
                            <div class="col-md-6" style="background-color:aqua">
                                <div class="form-group">
                                    <div id="ingredients_input_list">
                                        <label for="inputIngredients">Ingredients</label>
                                        <input value="eggs" type="text" class="input form-control" id="ingredient1"
                                            name="ingredient" placeholder="ingredient" />
                                        <input value="milk" type="text" class="input form-control" id="ingredient2"
                                            name="ingredient" placeholder="ingredient" />
                                        <input value="flour" type="text" class="input form-control" id="ingredient3"
                                            name="ingredient" placeholder="ingredient" />
                                        <input value="tea" type="text" class="input form-control" id="ingredient4" name="ingredient"
                                            placeholder="ingredient" />
                                        <input value="coffee" type="text" class="input form-control" id="ingredient5"
                                            name="ingredient" placeholder="ingredient" />
                                        <a href="#" id="add_ingredient"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <!-- INSTRUCTIONS -->
                                <div class="form-group">
                                    <div id="instruction_input_list">
                                        <label for="inputInstruction">Instructions</label>
                                        <input value="Nam viverra lacus ac egestas facilisis. Phasellus accumsan urna ligula, a ullamcorper sapien pellentesque vel."
                                            class="input form-control" id="instruction" name="instruction" placeholder="instructions" />
                                        <a href="#" id="add_instruction"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- RESPONSE MESSAGES -->
                            <div class="form-group button-submit-margin" id="newRecipeMessages">
                                {{message}}
                            </div>
                            <!-- BUTTONS -->
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary" id="addRecipeButton">Add Recipe</button>
                                <button type="button" class="btn btn-primary" id="cancelRecipeButton" ONCLICK="window.location.href='/myrecipes'">Cancel</button>
                            </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="flash_messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
<h5>Current User</h5>
<p>username: {{ current_user.username }}</p>
<p>firstname: {{ current_user.firstname }}</p>
<p>lastname: {{ current_user.lastname }}</p>
<p>country: {{ current_user.country }}</p>
<p>id: {{ current_user._id }}</p>
{% endblock %}