{% extends 'base.html' %}

{% block template_content %}
<section id="404errorpage">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mt-5">
              <h2 class="section-heading">Statistical Analysis of &#123;&#123;The CookBook &#125;&#125;</h2>
            </div>
          </div>
        </div>
</section>
<section>
    <iframe src="/graphs_sub" width="1200" height="900"></iframe>

    <link rel="import" href="/graphs_sub">

    <img src="static/img/graphs/piechart.svg">
</section>

<!-- BACK TO TOP -->
<div class="row">
    <div class="col-12">
        <button onclick="topFunction()" id="backtotopIcon" title="Go to top"></button>
    </div>
</div>
{% endblock %}
