{% extends 'base.html' %}

<!-- Content Left Column - Logo -->
{% block content_left %}
<div class="logo-container">
    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="Cookbook" tooltip="Cookbook" />
</div>
{% endblock %}

<!-- Content Right Column - Player name form -->
{% block content_right %}
<div id="signup-button-container">
    <!-- Button trigger signup modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
        Get Started
    </button>
</div>
<!-- Modal for Sign up -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true" id="signupModal">
    <div class="vertical-align-modal">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create an account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="" name="signupForm" id="signupForm" novalidate>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <input type="text" class="form-control" placeholder="Enter a user name..." name="addusername"
                                    id="addusername" required data-validation-required-message="Please enter your user name."
                                    pattern="[A-Za-z0-9]{1,50}">
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                                <div class="input-info">Letters and numbers only accepted</div>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <input type="password" class="form-control" placeholder="Enter a password.." name="addpassword"
                                    id="addpassword" required data-validation-required-message="Please enter your password."
                                    pattern="[A-Za-z0-9]{1,8}">
                                <div class="invalid-feedback">
                                    Please choose a username.
                                </div>
                                <div class="input-info">Letters and numbers only accepted</div>
                            </div>
                        </div>
                        <div id="messages-container">
                            <div class="alert-container">
                                <div class="alert alert-warning">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group button-submit-margin">
                            <button type="submit" class="btn btn-riddle-index" id="sendAnswerButton">
                                Create an account
                            </button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-riddle" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}

<div>
    <h5>Connection Test</h5>
    {% for t in test %}
    {{t.test_description}}
    {% endfor %}
    <br>
    <h5>Usernames</h5>
    <p></p>
    <br>
    <h5>Session</h5>
    <p>{{ session }}</p>
</div>

{% endblock %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>