{% extends 'base.html' %}

{% block template_content %}

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
{% for category, message in messages %}
<div class="alert-container-index">
  <div class="alert {{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message|capitalize }}
  </div> {% endfor %} {% endif %} {% endwith %}
</div>
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To The Cookbook!</div>
      <div class="intro-heading text-uppercase">yada yadda yadda</div>
      <div id="signup-button-container">
        <!-- Button trigger signup modal -->
        <a href="#" onclick="$('#signupModal').modal({'backdrop': 'static'});">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
            Get Started
          </button></a>
      </div>
    </div>
  </div>
</header>


{% endblock %}

<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
 <h5>Connection Test</h5>
  {% for t in test %}
  <p>{{t.test_description}}</p>
  {% endfor %}
  <h5>Usernames</h5>
  {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
  {{message}}
  {% endfor %} {% endif %} {% endwith %}
{% endblock %}