{% extends 'base.html' %}

{% block template_content %}
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To The Cookbook!</div>
      <div class="intro-heading text-uppercase">yada yadda yadda</div>
      <div id="signup-button-container">
        <!-- Button trigger signup modal -->
        <a href="#" onclick="$('#signupModal').modal({'backdrop': 'static'});">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signupModal">
          Get Started
        </button></a>
      </div>
    </div>
  </div>
</header>


<!-- Modal for Login-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true" id="loginModal">
  <div class="vertical-align-modal">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign in</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/login_user" name="loginForm" id="loginForm">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Enter a user name..." name="loginUsername" id="loginUsername"
                  required data-validation-required-message="Please enter your user name." pattern="[A-Za-z0-9]{1,50}">
                <div class="invalid-feedback">
                  Please enter your username.
                </div>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="password" class="form-control" placeholder="Enter a password.." name="loginPassword" id="loginPassword"
                  required data-validation-required-message="Please enter your password." pattern="[A-Za-z0-9]{1,8}">
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
              </div>
            </div>
            <div class="form-group button-submit-margin" id="loginMessages">
                {{ loginmessage}}
              </div>
            <div class="form-group button-submit-margin">
              <button type="submit" class="btn btn-primary btn-block" id="loginButton">
                Login
              </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Sign up -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true" id="signupModal">
  <div class="vertical-align-modal">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create an account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="/signup_user" name="signupForm" id="signupForm">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Enter a user name..." name="signupUsername" id="signupUsername">
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Enter your first name..." name="firstName" id="firstName">
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="text" class="form-control" placeholder="Enter your last name..." name="lastName" id="lastName">
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="password" class="form-control" placeholder="Enter password..." name="signupPassword" id="signupPassword"
                  required data-validation-required-message="Please enter your password.">
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <input type="password" class="form-control" placeholder="Confirm password..." name="confirmPassword" id="confirmPassword"
                  required data-validation-required-message="Please enter your password.">
              </div>
            </div>
            <div class="form-group button-submit-margin">
              <button type="submit" class="btn btn-riddle-index" id="signupButton">
                Create an account
              </button>
            </div>
            <div class="form-group button-submit-margin" id="signupMessages">
              {{message}}
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-riddle" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% endblock %}

<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h5>Connection Test</h5>
      {% for t in test %}
      <p>{{t.test_description}}</p>
      {% endfor %}
      <h5>Session</h5>
      <p>{{ session }}</p>
    </div>
    <div class="col-md-6">
      <h5>Usernames</h5>
      {% for u in users %}
      <p>{{u.username}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

