{% extends 'base.html' %}

{% block template_content %}
<!-- PAGE HEADER -->
<section class="section-heading">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>My Recipes</h1>
                    <h3 class="section-subheading text-muted">Manage your recipes.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- PAGE CONTENT -->
<section class="section-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid">
                    <!-- User Recipes -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>You have <span id="totalcount">{{total_count}}</span> recipes.</p>
                        </div>
                    </div>
                    {% if total_count == 0 %}
                    <div class="row">
                            <div class="col-12"></div>
                    </div>
                    {%else%}
                    <div class="row"><div class="col-12">Number of pages: {{ number_of_pages }} <span id="numberofpages"></span></div></div>
                    <div class="row paging">
                        <div class="col-12">
                            <span class="prev-span">
                                <!-- <a href="{{prev_url}}" class="previous">&lt;&lt; Previous page</a> -->
                                <button onclick="location.href='{{prev_url}}'" type="button" class="btn btn-primary previous">&lt;&lt; Previous</button>
                            </span>
                            <span>
                                <!-- <a href="{{next_url}}" class="next">Next page &gt;&gt;</a> -->
                                <button onclick="location.href='{{next_url}}'" type="button" class="btn btn-primary next">Next &gt;&gt;</button>
                            </span>
                        </div>
                    </div>
                    {%endif%}
                    <div class="row table-header">
                        <div class="col-6 col-md-6 col-lg-2 myrecipe-table-title">Name</div>
                        <div class="col-2 d-none d-lg-block myrecipe-table-title">Description</div>
                        <div class="col-2 d-none d-lg-block text-center myrecipe-table-title">Votes</div>
                        <div class="col-2 d-none d-lg-block text-center myrecipe-table-title">Created & Modified last</div>
                        <div class="col-6 col-md-6 col-lg-4 text-center myrecipe-table-title">Manage Recipes</div>
                    </div>
                    {% for recipe in recipes if recipes %}
                    <div class="row table-content">
                        <div class="col-6 col-md-6 col-lg-2 pt-1 pb-1">
                            <a href="/view_recipe/{{recipe._id}}" title="link to recipe">{{recipe.name }} <i class="fas fa-external-link-alt"></i></a>
                        </div>
                        <div class="col-2 d-none d-lg-block pt-1 pb-1">
                            {{ recipe.description|truncate(50, False, '...', 0) }}
                        </div>
                        <div class="col-2 d-none d-lg-block text-center pt-4">{{ recipe.votes }}</div>
                        <div class="col-2 d-none d-lg-block text-center pt-3">Created: {{recipe.dateCreated.strftime('%d-%b-%Y')}}<br>
                            Modified: {{recipe.dateModified.strftime('%d-%b-%Y')}}</div>
                        <div class="col-6 col-md-6 col-lg-4 text-center">
                            <div class="row">
                                <div class="col-6 t-align">
                                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary managebtn"
                                        type="button" id="editRecipeButton">Edit</a>
                                </div>
                                <div class="col-6 t-align">
                                    <a href="#" type="button" class="btn btn-primary delete_recipe managebtn" id="{{recipe._id}}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-12 pt-5">You have not added any recipes yet. You can add recipes <a href="/add_recipe" title="Add a recipe">here</a></div>
                    </div>
                    {% endfor %}
                    <!-- DELETE RECIPE POPUP-->
                    <div id="confirm_delete" title="Delete Recipe" style="display:none">
                        <p><span class="ui-icon ui-icon-alert ml-auto mr-auto" style="float:left; margin:12px 12px 20px 0;"></span>
                            This recipe will be permanently deleted.<br>Are you sure?</p>
                    </div>
                    <div id="myrecipesMessages"></div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--BACK TO TOP -->
<div class="row">
    <div class="col-12">
        <button onclick="topFunction()" id="backtotopIcon" title="Go to top"></button>
    </div>
</div>

{% endblock %}
