{% extends 'base.html' %}

{% block template_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- User Content -->
            <section id="user_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>PROFILE PAGE</h1>
                            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                        </div>
                    </div>
                    <!-- User Details -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="service-heading">User details</h4>
                            <p class="text-muted">username: {{ current_user.username }}</p>
                            <p class="text-muted">First name: {{ current_user.firstname }}</p>
                            <p class="text-muted">last name: {{ current_user.lastname }}</p>
                            <p class="text-muted">id: {{ current_user._id }}</p>
                        </div>
                    </div>
                    <!-- User Recipes -->
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="service-heading">My recipes</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                                maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">Name</div>
                        <div class="col-2">Description</div>
                        <div class="col-2 text-center">Views</div>
                        <div class="col-2 text-center">Votes</div>
                        <div class="col-4 text-center" style="background-color:rgb(199, 200, 101)">Manage Recipes <a
                                href="/add_recipe" type="button" id="add_recipe">Add</a></div>
                    </div>
                    <div class="row">
                        {% for r in recipes if recipes != "" %}
                        <div class="col-2">{{ r.name }}</div>
                        <div class="col-2">{{ r.description|truncate(100, False, '...', 0) }}</div>
                        <div class="col-2 text-center">{{ r.views }}</div>
                        <div class="col-2 text-center">{{ r.votes }}</div>
                        <div class="col-4 text-center" style="background-color:darkgray">
                            <div class="row">
                                <div class="col-4"><span>{{r._id}}</span>
                                    <a href="{{ url_for('edit_recipe', recipe_id=r._id) }}" class="btn btn-primary"
                                        type="button" id="editRecipeButton">Edit</a>
                                </div>
                                <div class="col-4">
                                    <a href="#" type="button" class="btn btn-primary delete_recipe" id="{{r._id}}">Delete</a>
                                </div>
                                <div class="col-4">
                                    <a href="{{ url_for('view_recipe', recipe_id=r._id) }}" type="button" class="btn btn-primary"
                                        id="viewRecipeButton">View</a>
                                </div>
                            </div>
                        </div>
                        <div id="confirm_delete" title="Delete Recipe" style="display:none">
                            <p><span class="ui-icon ui-icon-alert ml-auto mr-auto" style="float:left; margin:12px 12px 20px 0;"></span>
                                This recipe will be deleted<br>Are you sure?</p>
                        </div>{{listing}}
                        {% else %}
                        <div class="col-12"> No recipes for you</div>
                        {% endfor %}
                    </div>

                    <div id="profileMessages"></div>
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
<h5>Current User</h5>
<p>username: {{ current_user.username }}</p>
<p>firstname: {{ current_user.firstname }}</p>
<p>lastname: {{ current_user.lastname }}</p>
<p>country: {{ current_user.country }}</p>
<p>_id: {{current_user._id}}</p>

{% endblock %}