{% extends 'base.html' %}

{% block template_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- Services -->
            <section id="services">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h1>PROFILE PAGE</h1>
                            <h2>HELLO!!!{{ session['username'] }}</h2>
                            <h3 class="section-heading text-uppercase">Services</h3>
                            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">E-Commerce</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                                maxime quam architecto
                                quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Responsive Design</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                                maxime quam architecto
                                quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                        <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                            </span>
                            <h4 class="service-heading">Web Security</h4>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
                                maxime quam architecto
                                quo inventore harum ex magni, dicta impedit.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h5>Connection Test</h5>
      {% for t in test %}
      <p>{{t.test_description}}</p>
      {% endfor %}
      <h5>Session</h5>
      <p>{{ session }}</p>
      <p>session['username']</p>
      <p>session['isLoggedin']</p>
    </div>
    <div class="col-md-6">
      <h5>Usernames</h5>
      {% for u in users %}
      <p>{{u.username}}</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}