{% extends 'base.html' %}

{% block template_content %}
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <!-- PAGE HEADER -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Recipes</h1>
                    <h3 class="section-subheading text-muted">Search and filter recipes</h3>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col-12 col-md-3 filter-col" style="background-color:rgb(229, 255, 0)">
            Filtering
            <!--CATEGORY FILTER-->
            <div class="row">
                <div class="col-12">
                    <label for="selectCategory">Category</label>
                    <form id="categoryFilter" name="categoryFilter" method="POST">
                        <select class="custom-select" id="category-select">
                            <option>Select a Category</option>
                            {% for category in categories %}
                            <option value="{{category.category_name}}"> {{category.category_name}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <!--CUISINE FILTER-->
            <div class="row">
                <div class="col-12">
                    <label for="selectCuisine">Cuisine</label>
                    <form id="cuisineFilter" name="cuisineFilter" method="POST">
                        <select class="custom-select" id="cuisine-select">
                            <option>Select a Cuisine</option>
                            {% for cuis in cuisine%}
                            <option value="{{ cuis.cuisine_name }}">{{ cuis.cuisine_name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <!--ALLERGENS FILTER-->
            <div class="row">
                <div class="col-12">
                    <label for="selectCuisine">Allergens</label>
                    <form id="allergenFilter" name="allergenFilter" method="POST">
                        <select class="custom-select" id="allergen-select">
                            <option>Select an Allergen</option>
                            {% for allergen in allergens %}
                            <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <!-- RIGHT COLUMN -->
        <!-- FILTERING RESULTS -->
        <div class="col-12 col-md-9">
            <!--SEARCH RESULTS-->
            <div class="row" id="searchResult" style="background-color:rgb(13, 235, 216)">
                <div class="col-12" id="thisisacol">
                    <div id="recipeResult"></div>
                </div>
            </div>
            <!-- INITIAL RANDOM SELECTION OF RECIPES BEFORE SEARCHING, HIDDEN AFTER USER FILTERS -->

            {% for recipe_row in recipes | batch(3) %}
            <div class="row" style="background-color:#fff">
                <div class="col-12">
                    <div class="card-deck   ">
                        {% for recipe in recipe_row %}
                        <div class="card">
                            <div class="card-image">
                                {% if recipe.image_url != "" %}
                                <img class="card-img-top" src="{{recipe.image_url}}" alt="{{recipe.name}}" title="{{recipe.name}}">
                                {% else %}
                                <img class="card-img-top" src="{{ url_for('static', filename='img/recipes/default_food.png')}}"
                                    alt="Default image of food" title="Default image of food">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ recipe.name }}</h5>
                                <p class="card-text">{{ recipe.description|truncate(100, False, '...', 0) }}</p>
                                <p class="card-btn"><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}" class="btn btn-primary"
                                        type="button" id="viewRecipeButton">View Recipe</a></p>
                            </div>
                            <div class="card-footer">
                                <div class="card-text"><small class="text-muted">Created: {{
                                        recipe['_id'].generation_time.date().strftime('%d %m %Y') }}</small></div>
                                <div class="card-text"><small class="text-muted"><i class="far fa-heart"></i>
                                        {{recipe.votes }}</small></div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
    </div>
</div>
</div>
<p>




    {% endblock %}


    <!-- Debug area. Hidden if debug set to False -->
    {% block content_debug %}

    {% endblock %}