{% for recipe_row in reciperesults | batch(3) %}
<div class="card-deck">
    {% for recipe in recipe_row %}
    <div class="card">
        {% if recipe.image_url != "" %}
        <img class="card-img-top" src="{{recipe.image_url}}" alt="{{recipe.name}}" title="{{recipe.name}}">
        {% else %}
        <img class="card-img-top" src="{{ url_for('static', filename='img/recipes/default_food.png')}}"
            alt="Default image of food" title="Default image of food">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
            <p class="card-text">{{ recipe.description|truncate(100, False, '...', 0) }}</p>
            <p class="card-text"><small class="text-muted"><i class="far fa-heart"></i> {{ recipe.votes }}</small></p>
            <p>ObjectId({{recipe._id}}).getTimeStamp()</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}