{% extends 'base.html' %}

{% block template_content %}
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <!-- PAGE HEADER -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1>Recipes</h1>
                    <h3 class="section-subheading text-muted">RESULTS</h3>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- LEFT COLUMN -->
        <div class="col-4" style="background-color:rgb(229, 255, 0)">

LEFT COL


        </div>
        <!-- RIGHT COLUMN -->
        {% for r in recipes %}

        {{ r['_id']|string }}
        
        {{ r.name }}
        
        {{ r['name'] }}
        
        {% endfor %}
        <div class="col-8" style="background-color:brown" id="recipeResult">
            {% for recipe_row in recipes | batch(0) %}
            <div class="card-deck">
                {% for recipe in recipe_row %}
                <div class="card">
                    {% if recipe.image_url != "" %}
                    <img class="card-img-top" src="{{recipe.image_url}}" alt="{{recipe.name}}" title="{{recipe.name}}" style="width:50px">
                    {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='img/recipes/default_food.png')}}" alt="Default image of food"
                        title="Default image of food">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ recipe.name }}</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                            to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
    </div>
</div>





{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}

{% endblock %}