{% extends 'base.html' %}

{% block template_content %}
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <!-- PAGE HEADER -->
    <section>
        <div class="container-fluid">
            <div class="row" id="recipe-title">
                <div class="col-lg-12">
                    <h1>{{ recipe.name }}</h1>
                    <h3 class="section-subheading text-muted">{{ recipe.description }}</h3>
                </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs hidden-md-up" role="tablist">
                <li class="nav-item" id="hometab"><a class="nav-link active" href="#home" aria-controls="home"
                        data-toggle="tab">Details</a></li>
                <li class="nav-item" id="ptab"><a class="nav-link" href="#myrecipes" aria-controls="myrecipes"
                        data-toggle="tab">Instructions</a></li>
            </ul>
            <!-- VIEW RECIPE DETAILS-->
            <div class="tab-content container-fluid" id="recipe-info">
                <div class="row">
                    <!-- COLUMN 1 RECIPE INFO -->
                    <div role="tabpanel" class="tab-pane active col-12 col-md-4 left-col" id="home">
                        <!-- RECIPE IMAGE -->
                        {% if recipe.image_url != "" %}
                        <div class="recipe-image">
                            <img src="{{ recipe.image_url }}" alt="image of {{ recipe.name }}" title="Image of {{ recipe.name }}" />
                        </div>
                        {% else %}
                        <div class="recipe-image">
                            <img src="{{ url_for('static', filename='img/recipes/default_food.png')}}" alt="No image was supplied of {{ recipe.name }} this is a default image"
                                title="No image was supplied of {{ recipe.name }} this is a default image" />
                        </div>
                        {% endif %}
                        <!-- UTILITIES PRINT/RATE-->
                        <div class="row text-center utilities">
                                {% if (recipe.author != session['userid']) and  (session['isLoggedin'] == True)%}
                            <div class="col-4">
                                <a type="submit" action="{{ url_for('update_vote', recipe_id=recipe._id) }}" id="rateme"
                                    name="rateme" alt="Rate this recipe" title="Rate this recipe"><i class="far fa-heart"></i>Rate</a>
                            </div>
                            {% endif %}
                            <div class="col">
                                <a href="#" onclick="window.print();return false;" alt="Print this recipe" title="Print this recipe"><i class="fas fa-print"></i>Print</a>
                            </div>
                            <div class="col">
                                <i class="far fa-heart"></i><span id="vote_result">{{ recipe.votes }}</span>
                            </div>
                        </div>
                        <!-- MESSAGES -->
                        <div id="ratemeMessages" class="form-group mt-1 text-center generalMessages">
                        </div>
                        <!-- RECIPE INFO -->
                        <div class="recipe-details">
                            <div class="container">
                                <!-- DETAILS -->
                                <div class="row">
                                    <div class="col-6 detail-title">
                                        <ul class="detail-item">
                                            <li>Main Ingredient:</li>
                                            <li>Category:</li>
                                            <li>Cuisine:</li>
                                            <li>Calories:</li>
                                            <li>Allergens:</li>
                                        </ul>
                                    </div>
                                    <div class="col-6 detail-value">
                                        <ul class="detail-item">
                                            <li>{{ recipe.main_ingredient }}</li>
                                            <li>{{ recipe.category }}</li>
                                            <li>{{ recipe.cuisine }}</li>
                                            <li>{{ recipe.calories }}</li>
                                            <li>{% for allergen in recipe.allergens %}
                                            <li>{{ allergen }}</li>
                                            {% endfor %}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMN 2 INGREDIENTS AND INSTRUCTIONS -->
                    <div role="tabpanel" class="tab-pane col-12 col-md-8 right-col" id="myrecipes">
                        <!-- RECIPE INGREDIENTS -->
                        <div class="row" id="ingredients">
                            {% if recipe.ingredients|length > 6 %}
                            {% for ingredient_col in recipe.ingredients | slice(2) %}
                            <div class="col-12 col-md-6">
                                <ul>
                                    {% for ingredient in ingredient_col %}
                                    <li><img src="{{ url_for('static', filename='img/recipes/chili.png')}}">{{ingredient
                                        }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!-- RECIPE PREP COOK SERVES DIFFICULTY -->
                        <div class="row" id="recipe-info">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <ul>
                                            <li><img src="{{ url_for('static', filename='img/recipes/timer.png')}}">Prep
                                                time: {{recipe.prep_time }}
                                            </li>
                                            <li><img src="{{ url_for('static', filename='img/recipes/timer.png')}}">Cook
                                                time: {{recipe.cook_time }}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <ul>
                                            <li><img src="{{ url_for('static', filename='img/recipes/spoon-and-fork.png')}}">Serves:
                                                {{recipe.serves }}
                                            </li>
                                            <li><img src="{{ url_for('static', filename='img/recipes/apron.png')}}">Difficulty:
                                                {{recipe.difficulty }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- RECIPE INSTRUCTIONS -->
                        <div class="row" id="instructions">
                            <div class="col-12">
                                <h4 class="recipe-heading"><img src="{{ url_for('static', filename='img/recipes/recipe.png')}}">
                                    Instructions</h4>
                                {% for instruct in recipe.instructions %}
                                <div class="instuctions-line">{{ instruct }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- CREATED BY AND DATE -->
                        <div class="row">
                            <div class="col-12 createdby">
                                Created by: <span>{{recipeauthor.username}}</span> on <span>{{ recipe['_id'].generation_time.date().strftime('%d-%m-%Y') }}</span>
                            </div>

                        </div>
                        <!-- BUTTONS -->
                        {% if session['isLoggedin'] and session['userid'] == recipe['author'] %}
                        <div class="row with-border">
                            <div class="col-12 btn-row text-center">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary"
                                    type="button" id="editRecipeButton">Edit Recipe</a>
                                <a href="#" type="button" class="btn btn-primary delete_recipe" id="{{ recipe._id }}">Delete
                                    Recipe</a>
                            </div>
                        </div>
                        {% else %}
                        <div>&nbsp;</div>
                        {% endif %}

                        <!-- CONFIRM DELETION POPUP -->
                        <div id="confirm_delete" title="Delete Recipe" style="display:none">
                            <div class="vertical-align-modal">
                                <div class="modal-dialog vertical-align-center" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete this Recipe</h5>
                                        </div>
                                        <div class="modal-body">
                                            <p><span class="ui-icon ui-icon-alert ml-auto mr-auto" style="float:left; margin:12px 12px 20px 0;"></span>
                                                This recipe will be deleted<br>Are you sure?</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- BACK TO TOP -->
<div class="row">
    <div class="col-12">
        <button onclick="topFunction()" id="backtotopIcon" title="Go to top"></button>
    </div>
</div>
{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
{% if session['isLoggedIn'] == True %}
<h5>Current User</h5>
<p>username: {{ current_user.username }}</p>
<p>firstname: {{ current_user.firstname }}</p>
<p>lastname: {{ current_user.lastname }}</p>
<p>country: {{ current_user.country }}</p>
<p>id: {{ current_user._id }}</p>
{% endif %}
{% endblock %}