{% extends 'base.html' %}

{% block template_content %}
<!-- USER NAME-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <section id="user_name">
                <span>&#123;&#123; Hello {{ session['username'] }}, welcome back &#125;&#125;</span>
            </section>
        </div>
    </div>
</div>
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- PAGE HEADER -->
            <section id="user_content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>View Recipe</h1>
                            <h3 class="section-subheading text-muted">view a new recipe complete the form.</h3>
                        </div>
                    </div>
                    <!-- VIEW RECIPE DETAILS-->
                    <div class="container-fluid" id="recipe-details">
                        <div class="row" style="background-color:blueviolet">
                            <div class="col-12 col-md-4" style="background-color:burlywood">
                                {% if recipe.image_url != "" %}
                                <div class="recipe-image">
                                    <img src="{{ recipe.image_url }}" alt="" id="" />
                                </div>
                                {% else %}
                                <div class="recipe-image">
                                    <img src="{{ recipe.image_url }}" alt="" id="" />
                                </div>
                                {% endif %}
                                <div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                Main Ingredient
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.main_ingredient }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Category
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.category }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Cuisine
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.cuisine }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Difficulty
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.difficulty }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                prep time
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.prep_time }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                cook time
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.cook_time }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Serves
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.serves }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                calories
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.calories }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Allergens
                                            </div>
                                            <div class="col-8">
                                                {{ recipe['allergens'] }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                Views
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.views }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                votes
                                            </div>
                                            <div class="col-8">
                                                {{ recipe.votes }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- COL 2-->
                            <div class="col-12 col-md-8" style="background-color:aqua">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4 class="service-heading">{{ recipe.name }}</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-muted">{{ recipe.description }} </p>
                                        </div>
                                    </div>



                                    <div class="row">
                                        
                                            {% if recipe.ingredients|length > 6 %}
                                            {% for ingredient_col in recipe.ingredients | slice(4, '&nbsp;') %}
                                            
                                                {% for ingredient in ingredient_col %}
                                                <div class="col-6">
                                                    <ul>
                                                        <li>{{ ingredient }}</li>
                                                    </ul>
                                                    
                                                </div>
                                                {% endfor %}
                                            
                                            {% endfor %}
                                            {% endif %}
                                        
                                    </div>



                                    <div class="row">
                                        <div class="col-12">
                                            {% for instruct in recipe.instructions %}
                                            <p>{{ instruct }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
</div>
{% block javascript_addrecipe %}
{% endblock %}

<div class="flash_messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
<h5>Current User</h5>
<p>username: {{ current_user.username }}</p>
<p>firstname: {{ current_user.firstname }}</p>
<p>lastname: {{ current_user.lastname }}</p>
<p>country: {{ current_user.country }}</p>
<p>id: {{ current_user._id }}</p>
{% endblock %}