{% extends 'base.html' %}

{% block template_content %}
<!-- USER NAME-->
<div class="container-fluid" id="user_content">
    <div class="row">
        <div class="col-12">
            <section id="user_name">
                {% if session['isLoggedin'] == True %}
                <span>&#123;&#123; Hello {{ session['username'] }}, welcome back &#125;&#125;</span>
                {% endif %}
            </section>
        </div>
    </div>
</div>
<!-- PAGE CONTENT-->
<div class="container-fluid">
    <!-- PAGE HEADER -->
    <section>
        <div class="container">
            <div class="row" id="recipe-title">
                <div class="col-lg-12">
                    <h1>{{ recipe.name }}</h1>
                    <h3 class="section-subheading text-muted">{{ recipe.description }}</h3>
                </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs hidden-md-up" role="tablist">
                <li class="nav-item" id="hometab"><a class="nav-link active" href="#home" aria-controls="home"
                        data-toggle="tab">Details</a></li>
                <li class="nav-item" id="ptab"><a class="nav-link" href="#profile" aria-controls="profile" data-toggle="tab">Instructions</a></li>
            </ul>
            <!-- VIEW RECIPE DETAILS-->
            <div class="tab-content container-fluid" id="recipe-info">
                <div class="row">
                    <!-- COLUMN 1 RECIPE INFO -->
                    <div role="tabpanel" class="tab-pane active col-12 col-md-4 left-col" id="home">
                        <!-- RECIPE IMAGE -->
                        {% if recipe.image_url != "" %}
                        <div class="recipe-image">
                            <img src="{{ recipe.image_url }}" alt="" id="" />
                        </div>
                        {% else %}
                        <div class="recipe-image">
                            <img src="{{ url_for('static', filename='img/default_food.png')}}" alt="" id="" />
                        </div>
                        {% endif %}
                        <!-- RECIPE INFO -->
                        <div class="recipe-details">
                            <div class="container">
                                <!-- DETAILS -->
                                <div class="row">
                                    <div class="col-6 detail-title">
                                        <ul class="detail-item">
                                            <li>Main Ingredient:</li>
                                            <li>Category:</li>
                                            <li>Cuisine:</li>
                                            <li>Difficulty:</li>
                                            <li>Prep time:</li>
                                            <li>Cook time:</li>
                                            <li>Serves:</li>
                                            <li>Calories:</li>
                                            <li>Allergens:</li>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="col-6">
                                        <ul class="detail-item">
                                            <li>{{ recipe.main_ingredient }}</li>
                                            <li>{{ recipe.category }}</li>
                                            <li>{{ recipe.cuisine }}</li>
                                            <li>{{ recipe.difficulty }}</li>
                                            <li>{{ recipe.prep_time }}</li>
                                            <li>{{ recipe.cook_time }}</li>
                                            <li>{{ recipe.serves }}</li>
                                            <li>{{ recipe.calories }}</li>
                                            <li>{% for allergen in recipe.allergens %}
                                            <li>{{ allergen }}</li>
                                            {% endfor %}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 detail-title">
                                        Views:
                                    </div>
                                    <div class="col-6">
                                        {{ recipe.views }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6 detail-title">
                                        Votes:
                                    </div>
                                    <div class="col-6">
                                        {{ recipe.votes }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- COLUMN 2 INGREDIENTS AND INSTRUCTIONS -->
                    <div role="tabpanel" class="tab-pane col-12 col-md-8 right-col" id="profile">
                        <!-- RECIPE INGREDIENTS -->
                        <div class="row" id="ingredients">
                            {% if recipe.ingredients|length > 6 %}
                            {% for ingredient_col in recipe.ingredients | slice(2) %}
                            <div class="col-12 col-md-6">
                                <ul>
                                    {% for ingredient in ingredient_col %}

                                    <li>{{ ingredient }}</li>

                                    {% endfor %}
                                </ul>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <!-- RECIPE INSTRUCTIONS -->
                        <div class="row" id="instructions">
                            <div class="col-12">
                                <h4 class="recipe-heading">Instructions</h4>
                                {% for instruct in recipe.instructions %}
                                <div class="instuctions-line">{{ instruct }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- BUTTONS -->
                        {% if session['isLoggedin'] and session['userid'] == recipe['author']  %}
                        <div class="row with-border">
                            <!-- VOTE -->
                            <div class="col-6 thumbs-col">
                                <a href="#"><i class="far fa-thumbs-up voteup"></i></a>
                                <a href="#"><i class="far fa-thumbs-down voteup"></i></a>
                            </div>
                            <div class="col-6 btn-row">
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary"
                                    type="button" id="editRecipeButton">Edit Recipe</a>
                                <a href="#" type="button" class="btn btn-primary delete_recipe" id="{{ recipe._id }}">Delete
                                    Recipe</a>
                            </div>
                        </div>
                        {% else %}
                        <div>&nbsp;</div>

                        {% endif %}
                        <!-- CONFIRM DELETION POPUP -->
                        <div id="confirm_delete" title="Delete Recipe" style="display:none">
                            <p><span class="ui-icon ui-icon-alert ml-auto mr-auto" style="float:left; margin:12px 12px 20px 0;"></span>
                                This recipe will be deleted<br>Are you sure?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% block javascript_addrecipe %}
{% endblock %}

<div class="flash_messages">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>

{% endblock %}


<!-- Debug area. Hidden if debug set to False -->
{% block content_debug %}
{% if session['isLoggedIn'] == True %}
<h5>Current User</h5>
<p>username: {{ current_user.username }}</p>
<p>firstname: {{ current_user.firstname }}</p>
<p>lastname: {{ current_user.lastname }}</p>
<p>country: {{ current_user.country }}</p>
<p>id: {{ current_user._id }}</p>
{% endif %}
{% endblock %}